.tool_category_title span {
    width: 90vw;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 0rem 1rem;
    margin-top: -3rem;
    border-radius: .5rem;
    opacity: .7;
    border-bottom: 2px solid red;
}

@media only screen and (max-width: 930px) {
    .tool_category_title span {
        width: 90vw;
        font-size: medium;
        text-align: center;
    }

}