.tool_category_title span {
    width: 90vw;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: white;
    padding: 2rem 1rem;
    border-radius: .5rem;
}

@media only screen and (max-width: 930px) {
    .tool_category_title span {
        width: 90vw;
        font-size: medium;
        text-align: center;
    }

}